.terraform/*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

level1/.terraform/
level2/.terraform/

main.pem

# modules
/asg/.terraform/
/lb/.terraform/
/vpc/.terraform/
.terraform/
pickup.txt

